#!/usr/bin/env bash
alias ack="ag"
alias aliases='print -rl -- ${(k)aliases} | sort | column'
alias brews='brew leaves'
alias bt="docker run -it us-docker.pkg.dev/recharge-infra-services-8b42/gcr.io/build-tools:3 /bin/bash"
alias cat="bat --style=plain"
alias grep='grep -i'
#alias gh="history -f 1 | grep"
alias gh="atuin search"
alias gti="git"
# hide hidden files in Finder
alias hide="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"
alias history="atuin history list"
alias k="kubectl"
alias kns="kubens"
alias kssh="kubectl node-shell"
alias kubens="KUBECTX_IGNORE_FZF=1 kubens"
alias ls="eza"
alias neat="kubectl-neat"
# Print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'

if [[ "$(uname)" != 'Darwin' ]]; then
  alias pbcopy='xclip -selection clipboard'
  alias pbpaste='xclip -selection clipboard -o'
fi
# show hidden files in Finder
alias show="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
# Enable aliases to be sudo’ed
alias sudo='sudo '
alias tf='terraform'
alias vim='nvim'
alias vinstall="vim -i NONE -c VundleUpdate -c quitall"
alias vl="vault login -method=ldap username=mhuber"
